fastapi[standard]
uvicorn[standard]
Jinja2

# Azure SDKs
azure-identity
azure-keyvault-secrets
azure-storage-blob

# Database
SQLAlchemy
pyodbc

# Optional, useful in App Service for production
gunicorn
python-multipart